<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <title>Minipal</title>
    <style>
      body {
        font-family: "Times New Roman", Times, serif;
      }
      .content {
        margin-top: 72px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="content"><%- include('partials/flash') %> <%- body %></div>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
