<style>
  .myHeader {
    margin-top: 150px;
  }
  .information {
    margin: 50px auto 10px;
  }
</style>
<div class="myHeader">
  <div class="information"><h2>Your Header Will Look Like this</h2></div>
  <div><%- include('partials/siteviewnavbar') %></div>
</div>
