<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minipal</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/siteviewnavbar') %> <%- body %>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
