<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <title>MiniPal</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">MiniPal</span>
    </nav>
    <%- include('partials/flash') %> <%- body %>
    <!-- <i class="fa fa-info" title="information"></i> -->
    <script src="js/bootstrap.bundle.js"></script>
  </body>
</html>
